<h1 style="text-align: center;">Loan Application</h1>


<div>
  <form [formGroup] = "loanForm" (ngSubmit)="submitUser()">
    
    <label for="personalCode">Personal Code</label>
    <input type="text" id="personalCode" name="personalCode" placeholder="Personal Code" formControlName="personalCode">
    <span *ngIf = "personalCode && personalCode.invalid && personalCode.touched" class="error">Personal Code can't be blank</span><br><br>
    <label for="loanAmount">Loan Amount</label>
    <input type="text" id="loanAmount" name="loanAmount" placeholder="Loan Amount" formControlName="loanAmount">
    <span *ngIf = "loanAmount && loanAmount.hasError('required') && loanAmount.touched" class="error">Loan Amount can't be blank</span>
    <span *ngIf = "loanAmount && (loanAmount.hasError('min')|| loanAmount.hasError('max')) && loanAmount.touched" class="error">Loan Amount should be between 2000 and 10000</span><br><br>
    

    <label for="periodMonths">Period(In Months)</label>
    <input type="text" id="periodMonths" name="periodMonths" placeholder="Period(In Months)" formControlName="periodMonths">
    <span *ngIf = "periodMonths && periodMonths.hasError('required') && periodMonths.touched" class="error">Period can't be blank</span>
    <span *ngIf = "periodMonths && (periodMonths.hasError('min')|| periodMonths.hasError('max')) && periodMonths.touched" class="error">Period should be between 12 and 60</span><br><br>
    <br><br>
  
    <input [disabled] = "loanForm.invalid" type="submit" value="Submit">
  </form>

</div>
<h2 *ngIf ="successFlag" style="color: black;">Results

<h4 *ngIf = "person.creditScore>1" style="color: green;">Loan Approved with Credit Score:{{person.creditScore | number : '1.0-2'}}</h4>
<h4 *ngIf = "person.creditScore<1" style="color:red">Loan Rejected with Credit Score:{{person.creditScore | number : '1.0-2'}}</h4>
Required Amount : {{person.maxSum}}
</h2>
